#exportPattern("^[[:alpha:]]+")
export(rpca)
export(trpca)
#export(rpca.gpu)
export(F2norm)
#export(F2norm.gpu)
export(thresh.nuclear)
#export(thresh.nuclear.gpu)
export(thresh.l1)
importFrom(compiler,cmpfun)
importFrom(irlba,irlba)
importFrom(Matrix,sparseMatrix)
importFrom(utils,tail)       
